<div class="list-container" style="width: 100%;">

  <!-- Delete confirmation -->
  @if (showDeleteConfirm) {
  <div class="delete-confirm-card">
    <p>Are you sure you want to delete <strong>{{ subjectToDelete.name }}</strong>?</p>
    <div class="delete-confirm-actions">
      <button class="btn btn-secondary" (click)="cancelDelete()">No</button>
      <button class="btn btn-danger" (click)="deleteSubject()">Yes</button>
    </div>
  </div>
  }

  <!-- Search and Create -->
  <div class="toolbar">
    <input type="text" [(ngModel)]="search" placeholder="Search subjects..." class="search-input"
      (keyup.enter)="onSearchChange()" />
    <button class="btn btn-search" (click)="onSearchChange()" title="Search">
      <i class="bi bi-search"></i>
    </button>

    <button routerLink="/subjects/create" class="btn btn-create" title="Create">
      <i class="bi bi-plus-circle me-1"></i> Create
    </button>
  </div>

  <!-- Loading -->
  @if (loading) {
   <div class="loading-container">
  <div class="spinner"></div>
  <p class="loading-text">Loading...</p>
</div>

  }

  <!-- Table -->
  @if (!loading) {
  @if (subjects.length > 0) {
  <table class="table" style="width: 100%;">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Term</th>
        <th>Grade Level</th>
        <th>College Name</th>
        <th>Unvirsity Name</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (subject of subjects; track subject.id; let i = $index) {
      <tr>
        <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
        <td>{{ subject.name }}</td>
        <td>{{ subject.termName }}</td>
        <td>{{ subject.gradeLevelName }}</td>
        <td>{{ subject.collegeName }}</td>
        <td>{{ subject.universityName }}</td>



        <td class="actions">
          <button [routerLink]="['/subjects/update', subject.id]" class="btn btn-edit" title="Edit">
            <i class="bi bi-pencil"></i>
          </button>
          <button (click)="confirmDelete(subject)" class="btn btn-delete" title="Delete">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Pagination -->
  @if (totalCount > pageSize) {
  <div class="pagination">
    <!-- Previous -->
    <button class="btn btn-previous" [disabled]="pageIndex === 1" (click)="onPageChange(pageIndex - 1)">
      Previous
    </button>

  
    <!-- Next -->
    <button class="btn btn-next" [disabled]="pageIndex === totalPages" (click)="onPageChange(pageIndex + 1)">
      Next
    </button>
  </div>
  }
  }
  @else {
  <div class="no-data-message">
    <p>No subjects found.</p>
  </div>
  }
  }

</div>
