/* زر Subscriber */
.btn-subscriber {
  background: linear-gradient(
    135deg,
    color-mix(in oklab, var(--blue-500) 70%, #fff),
    color-mix(in oklab, var(--sky-300) 60%, var(--blue-500))
  );
  color: #fff; /* النص ثابت */
  border-radius: var(--radius);
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  box-shadow: var(--shadow-1);
  transition: all 0.3s ease;
  font-size: 1.1rem;
}

.btn-subscriber:hover {
  background: linear-gradient(
    135deg,
    color-mix(in oklab, var(--blue-500) 85%, #000),
    color-mix(in oklab, var(--sky-300) 80%, var(--violet-900))
  );
  color: #fff; /* النص ثابت */
  transform: translateY(-1px);
  box-shadow: var(--shadow-2);
}

/* زر Request Join */
.btn-requestjoin {
  background: linear-gradient(
    135deg,
    color-mix(in oklab, var(--purple-600) 70%, #fff),
    color-mix(in oklab, var(--bell-300) 60%, var(--purple-600))
  );
  color: #fff; /* النص ثابت */
  border-radius: var(--radius);
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  box-shadow: var(--shadow-1);
  transition: all 0.3s ease;
  font-size: 1.1rem;
}

.btn-requestjoin:hover {
  background: linear-gradient(
    135deg,
    color-mix(in oklab, var(--purple-600) 85%, #000),
    color-mix(in oklab, var(--bell-300) 70%, var(--violet-900))
  );
  color: #fff; /* النص ثابت */
  transform: translateY(-1px);
  box-shadow: var(--shadow-2);
}
.student-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.student-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.icon-link {
  font-size: 22px;
  margin-right: 8px;
  text-decoration: none;
  transition: 0.2s ease;
}

.icon-link i {
  vertical-align: middle;
}

/* YouTube Icon */
.icon-link.youtube i {
  color: #FF0000;
}

.icon-link.youtube:hover i {
  transform: scale(1.2);
}

/* PDF Icon */
.icon-link.pdf i {
  color: var(--violet-900); /* من ألوان مشروعك */
}

.icon-link.pdf:hover i {
  color: var(--purple-600);
  transform: scale(1.2);
}

.pdf-list {
  display: flex;
  gap: 10px;
}