.icon-link {
  font-size: 22px;
  margin-right: 8px;
  text-decoration: none;
  transition: 0.2s ease;
}

.icon-link i {
  vertical-align: middle;
}

/* YouTube Icon */
.icon-link.youtube i {
  color: #FF0000;
}

.icon-link.youtube:hover i {
  transform: scale(1.2);
}

/* PDF Icon */
.icon-link.pdf i {
  color: var(--violet-900); /* من ألوان مشروعك */
}

.icon-link.pdf:hover i {
  color: var(--purple-600);
  transform: scale(1.2);
}

.pdf-list {
  display: flex;
  gap: 10px;
}
